meta(charset="utf-8")
meta(name="description", content="#{blogDescription}")
meta(name="keywords", content="#{blogKeywords}")
title #{pageTitle}
link(type="image/x-icon", rel="shortcut icon", href="/favicon.ico")
link(rel="alternate", type="application/rss+xml", title="TooBug", href="#{basePath}/rss/rss.xml")
link(rel="stylesheet", href="#{basePath}/css/light.css")
link(rel="stylesheet", href="#{basePath}/js/prettify/prettify.css")
script(src="#{basePath}/js/prettify/prettify.js")
script(src="#{basePath}/js/jquery/jquery-1.7.2.min.js")
script(src="#{basePath}/js/index.js")